.register-background{
background-color: #fff;
height: 100vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.register-img{
    width: 420px;
    height: 400px;
}
.registration-form{
    box-shadow: 16px 16px 16px 16px #bfbfbf;
    padding: 30px;
    background-color: white;
    margin-left: 100px;
    width: 430px;
    height: 450px;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
}